.container {
  background: rgba(255, 210, 0, 0, 0.5);
}

.bg {
  position: fixed;

  left: 0;
  right: 0;
  height: 100%;

  z-index: -1;
  background-image: url("/static/images/backgroundimage4.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/*  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);*/
}



.bg-light 
{
    background-color: transparent !important;
}

.bg-blur 
{
  padding:10px;
  background: rgba(245,255,250,0.90);
}

