{% extends 'base.html' %}
{% block content %}

<script>

    function setCalendarContent() {
        //initialize a empty list of events
        let events = [];
        //loop through the meals to obtain each meal
        {% for meal in meals_for_user %}
            //initialize an empty event object to store each meal data
            event = {};
            event.title='{{ meal.meal_name }}';
            event.start='{{ meal.meal_time }}';
            //initialize an empty meal foodgroup list for each meal food info
            event.meal_foodgroups=[];

            //loop through each of the mral_foodgroups in each meal
            {% for m in meal.meal_foodgroups %}
                //add to the empty meal_foodgroups list each component in a particular format as defined in model.py
                event.meal_foodgroups.push({{ m.serialize()|tojson }});
                // {{ m }}

            {% endfor %}

            event.allDay=false
            //add to the events list each event
            events.push(event)
        {% endfor %}
        $('#calendar').fullCalendar({
            events:events
            // eventRender: function(calEvent, element) {
            //     element.qtip({
            //         content: event.description
            //     })
            // } 

        })
    }
    $(setCalendarContent);


</script>

<div id='calendar'></div>

{% endblock %}