{% extends 'base.html' %}
{% block content %}
<script src='/static/piechart.js'></script>
<div id='calendar'></div>


<script>

    function setCalendarContent() {
        //initialize a empty list of events because fullcalendar understands lists
        let events = [];
        //loop through the meals to obtain each meal
        {% for meal in meals_for_user %}
            //initialize an empty event object to store each meal data
            event = {};
            event.title='{{ meal.meal_name }}';
            event.meal_id='{{ meal.meal_id }}'
            event.start_utc=moment.utc('{{ meal.meal_time }}');
            event.start=moment(event.start_utc).local().format("YYYY-MM-DD HH:mm:ss");
            //initialize an empty meal foodgroup list for each meal food info
            event.meal_foodgroups=[];

            //loop through each of the mral_foodgroups in each meal
            {% for m in meal.meal_foodgroups %}
                //add to the empty meal_foodgroups list each component in a particular format as defined in model.py
                event.meal_foodgroups.push({{ m.serialize()|tojson }});
                // {{ m }}

            {% endfor %}

            event.allDay=false
            //add to the events list each event
            events.push(event)

        {% endfor %}
        //from fullcalendar, to initialize calendar
        $('#calendar').fullCalendar({
            //passing in events
            events: events,
            eventRender: function(eventObj, $el) {
                content = function() {
                    //Create our wrapper div (optional).
                    let $el = $('<div id="#my-popover-div"></div>');
                    $el.append(getmeal_svg(eventObj.meal_foodgroups).node());
                    //Return the jQuery collection.
                    return $el;
                };

                // Set the data elements that popover library will use to show the popover
                $el.data('title', 'Meal foodgroup info');
                $el.data('content', content);
                $el.data('html', true);
                $el.data('toggle', 'popover');
                $el.data('trigger', 'click');
                $el.data('placement', 'top');

                // Enable the popover for this event element
                $el.popover();
            },
        })
    }
    $(setCalendarContent);
</script>



{% endblock %}