{% extends 'base.html' %}
{% block content %}

<h1>How to use MealTracker</h1>
</br>
</br>
After a user logs in, they can click on the <b>log meal</b> button or the <b>calendar</b> button.
</br>

On clicking the log meal button the user will be taken to the page that has a pie graph (with labels 40,10,25,25) which is to replicate
the users plate and two additional circles one for fat and another for drink. 
The default view is that recommended by the USDA as a healthy plate. 
The user can cick on each section of the pie graph to make the plate look like their plate(in terms of percentage of each food group),
following the legends on the side for the color of corresponding foodgroups.
User can also click the text on the drink and oil category to select the drink and oil that they ate that meal.
Upon entering the page the time is selected as current time and the meal type to match the meal time, 
but the user can select that to match the time that meal was consumed
and the meal type(breakfast, lunch, dinner).
If the user is unsure which category their food is in, there are links provided as resources on the bottom of page to read and choose foodgroups.
Then the user can log meal and will be taken to the calendar page.

On the calendar page the user can find the current month and the meal time and type on the respective dates displayed as an event. On clicking a particular meal they can see a popover window that will display the same miniature version of the pie graph/plate with the data they saved on 
log meal with only the legends of the foodgroups they ate, along with a textual information of the drink and oil.

This app allows the user to keep tabs on the percentage of fodgroups, oil and drink that they consume during each meal and see the national recommendations on the log meal page.


{% endblock %}