{% extends 'base.html' %}
{% block content %}

<div class='bg-blur'>
<h3>About Meal tracker</h3>
<p>
People usually measure their calorie intake and limit their calories on a daily basis, but surely not every meal is perfectly balanced per recommendations. 
With Mealtracker users can document on a pie graph the approximate percent of food groups in an easy visual format and keep tabs of which categories they are eating more of or less of compared to USDA as well as Healthy Plate recommendations.
</p>


<h4>How to use Mealtracker</h4>
<p>After a user logs in, they can click on the <b>log meal</b> button or the <b>calendar</b> button.
</p>

<h5>Log a meal</h5>
</p>On the <b>log meal page</b>, there is a default view of the plate(pie graph) with each section
set to the recommendations as mentioned by the USDA as foodgroup components of a healthy plate. 
</p>
<p>
The user can cick on each section of the pie graph to make the plate look like their plate
(in terms of percentage of each food group), following the legends on the side for the color 
of corresponding foodgroups.
</p>
<p>
User can also click the text on the drink and oil category to select the drink and oil that they ate that meal.
</p>
<p>
When this page loads the meal times and meal type are set to the current local time and the meal type for that time,
both of which can be changed by the user.
</p>
<p>
If the user is unsure which category their food is in, there are links provided as resources on the bottom of page to read and choose foodgroups.
</p>
<p>
Upon clicking the log meal page the user is taken to the calendar page.
</p>

<h5>Calendar</h5>
<p>
<!--<b> WANT TO HAVE AN IDEAL PLATE PIC HERE SO THAT PEOPLE CAN VIEW IT AND UNDERSTAND WHAT IS WRITTEN EASILY </b>
-->
</p>
<p>
On the calendar page the user can find the current month and the meal time and type on the respective dates displayed as an event. On clicking a particular meal they can see a popover window that will display the same miniature version of the pie graph/plate with the data they saved on 
log meal with only the legends of the foodgroups they ate, along with a textual information of the drink and oil.
</p>
<p>
This app allows the user to keep tabs on the percentage of fodgroups, oil and drink that they consume during each meal and see the national recommendations on the log meal page.
</p>
</div>


{% endblock %}