{% extends 'base.html' %}
{% block content %}
<script src='/static/mealchartinput.js'></script>
<div class='row bg-blur'>
    <div class='col-md-8'>
        <div id="pie_chart"></div>
    </div>
<!-- <span class="dot"></span> -->

<script type="text/javascript">
$(function(argument) {
    // Initialize time to now
    let today = moment().format('YYYY-MM-DDTHH:mm');
    $("input[name='meal_time']").val(today);

    // Initialize meal name
    if(moment().hours() >= 0 && moment().hours() < 11){
        $("input[value='breakfast']").prop('checked', true);
    }
    else if(moment().hours() >= 11 && moment().hours() < 18){
        $("input[value='lunch']").prop('checked', true);
    }
    else{
        $("input[value='dinner']").prop('checked', true);
    }
})    
</script>
<div class="row">&nbsp;</div>
<div class='col-md-4'>
<form action='/log_meal', method= "POST">

    <div class="form-group">    
    <h5>Select date and time of meal </h5>
    <input type="datetime-local" name="meal_time"></input>
    </div>
    <div class="form-group">
        <h5>Select Mealtype</h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" name="meal_name" value="breakfast">&nbsp;Breakfast</input>
            </div>
            <div class="input-group-text">
                <input type="radio" name="meal_name" value="lunch">&nbsp;Lunch</input>
            </div>
            <div class="input-group-text">
                <input type="radio" name="meal_name" value="dinner">&nbsp;Dinner</input>
            </div>
          </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Log meal</button>
    <div style="visibility:hidden;">
        <select  name="meal_component_40">
            <option value="Carbohydrates">Carbohydrates</option>
            <option value="Proteins">Proteins</option>
            <option selected="selected" value="Vegetables">Vegetables</option>
            <option value="Fruits">Fruits</option>
        </select>

        <select name="meal_component_10">
            <option value="Carbohydrates">Carbohydrates</option>
            <option value="Proteins">Proteins</option>
            <option value="Vegetables">Vegetables</option>
            <option selected="selected" value="Fruits">Fruits</option>
        </select>

        <select name="meal_component_25">
            <option selected="selected" value="Carbohydrates">Carbohydrates</option>
            <option value="Proteins">Proteins</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Fruits">Fruits</option>
        </select>

        <select name="meal_component_2_25">
            <option value="Carbohydrates">Carbohydrates</option>
            <option selected="selected" value="Proteins">Proteins</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Fruits">Fruits</option>
        </select>
    
        <select name="meal_component_drink">
            <option value="Water">Water</option>
            <option value="Juice">Juice</option>
            <option value="Dairy">Dairy</option>
            <option value="Soda">Soda</option>
            <option value="Tea_no_sugar">Tea no sugar</option>
            <option value="Coffee_no_sugar">Coffee no sugar</option>
            <option value="Tea_with_sugar">Tea with sugar</option>
            <option value="Coffee_with_sugar">Coffee with sugar</option>
        </select>
    
        <select name="meal_component_oil">
            <option value="Unsaturated_fat">Unsaturated Fat</option>
            <option value="Saturated_fat">Saturated Fat</option>
            <option value="Trans_fat">Trans Fat</option>
        </select>
    </div>
</form>
<div>&nbsp;</div>
<div class='small float-right' id="food_clarification">
<p class='text-muted'>Foodgroups assistance</p>
<ul>
<li><a href="https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/whole-grains/" target="_blank">Carbohydrates</a></li>
<li><a href="https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/protein/" target="_blank">Proteins</a></li>
<li><a href="https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/vegetables-and-fruits/" target="_blank">Vegetables and Fruits</a></li>
<li><a href="https://www.hsph.harvard.edu/nutritionsource/healthy-drinks/" target="_blank">Drinks</a></li>
<li><a href="https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/fats-and-cholesterol/" target="_blank">Fats</a></li>
</ul>
</div>
</div>
</div>

</div>
{% endblock %}