{% extends 'base.html' %}
{% block content %}

<div id="pie_chart"></div>

<script>
    <!-- //www.knowlarity.com/blog/creating-pie-chart-d3-js-step-step/ -->
    // https://www.youtube.com/watch?v=P8KNr0pDqio
    // https://www.dashingd3js.com/lessons/d3-and-html-forms

var width = 750;
var height = 500;
var colors = d3.scaleOrdinal(d3.schemeDark2);

var svg = d3.select('#pie_chart').append('svg').attr('width', width).attr('height', height);

var details = [{foodgroup:"Vegetables", percent:40}, {foodgroup:"Fruits", percent:10}, {foodgroup:"Carbohydrates", percent:25}, {foodgroup:"Proteins", percent:25}]

// since data that i need to pass is an object, need to pass a function(d or data) which returns d.percent from details and sort null will sort in the order given
var data = d3.pie().sort(null).value(function(d){return d.percent;})(details);


console.log(data);

var segments = d3.arc() //arc generator fucntion
                .innerRadius(0)
                .outerRadius(200)
                .padAngle(.05)
                .padRadius(50);

// path elements for different sections
var sections = svg.append("g").attr("transform", "translate(250, 250)").selectAll("path").data(data); //join data
//append path elements
sections.enter().append("path").attr("d", segments).attr("fill", function(d){return colors(d.data.foodgroup);});

var content = d3.select("g").selectAll("text").data(data);
content.enter().append("text").each(function(d){
    var center = segments.centroid(d);
    d3.select(this).attr("x", center[0]).attr("y", center[1])
                    .text(d.data.percent);
});


var legends = svg.append("g").attr("transform", "translate(500, 200)").selectAll(".legends").data(data);
var legend = legends.enter().append("g").attr("transform", function(d, i){return "translate(0," + (i+1)*30 + ")";});
legend.append("rect").attr("width", 20).attr("height", 20).attr("fill", function(d){return colors(d.data.foodgroup);});
legend.append("text").text(function(d){return d.data.foodgroup;})
        .attr("fill", function(d){return colors(d.data.foodgroup);})
        .attr("x", 30)
        .attr("y", 15);



</script>

<!-- <form action='/log_meal', method= "POST">

    
    <label>Select the date and time meal consumed</label>
    <input type="datetime-local" name="meal_time"></input>
    <br>
    <br>

 Select Meal name:
    <br>
    <input type="radio" name="meal_name" value="breakfast">Breakfast</input>
    <input type="radio" name="meal_name" value="lunch">Lunch</input>
    <input type="radio" name="meal_name" value="dinner">Dinner</input>
    <br>
    <br>
  Meal component:
    <select name="meal_component_40">
        <option value="Carbohydrates">Carbohydrates</option>
        <option value="Proteins">Proteins</option>
        <option value="Vegetables">Vegetables</option>
        <option value="Fruits">Fruits</option>
    </select>

    <select name="meal_component_10">
        <option value="Carbohydrates">Carbohydrates</option>
        <option value="Proteins">Proteins</option>
        <option value="Vegetables">Vegetables</option>
        <option value="Fruits">Fruits</option>
    </select>

    <select name="meal_component_25">
        <option value="Carbohydrates">Carbohydrates</option>
        <option value="Proteins">Proteins</option>
        <option value="Vegetables">Vegetables</option>
        <option value="Fruits">Fruits</option>
    </select>

    <select name="meal_component_2_25">
        <option value="Carbohydrates">Carbohydrates</option>
        <option value="Proteins">Proteins</option>
        <option value="Vegetables">Vegetables</option>
        <option value="Fruits">Fruits</option>
    </select>
    <br>
    <br>
    Drink component:
    <select name="meal_component_drink">
        <option value="Water">Water</option>
        <option value="Juice">Juice</option>
        <option value="Dairy">Dairy</option>
        <option value="Soda">Soda</option>
        <option value="Tea_no_sugar">Tea no sugar</option>
        <option value="Coffee_no_sugar">Coffee no sugar</option>
        <option value="Tea_with_sugar">Tea with sugar</option>
        <option value="Coffee_with_sugar">Coffee with sugar</option>
    </select>
    <br>
    <br>
    Oil component:
    <select name="meal_component_oil">
        <option value="Unsaturated_fat">Unsaturated Fat</option>
        <option value="Saturated_fat">Saturated Fat</option>
        <option value="Trans_fat">Trans Fat</option>
    </select>

    <input type="submit" value="log_meal"></input>
</form> -->
<br>
<br>

For clarification on foodgroups:
<br>
<a href="https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/whole-grains/">Whole Grains</a>
<br>
<a href="https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/protein/">Proteins</a>
<br>
<a href="https://www.hsph.harvard.edu/nutritionsource/what-should-you-eat/vegetables-and-fruits/">Vegetables and Fruits</a>
<br>
<a href="https://www.hsph.harvard.edu/nutritionsource/healthy-drinks/">Drinks</a>
<br>
<br>


{% endblock %}