{% extends 'base.html' %}
{% block content %}

<form >
  Meal component:
    <select name="meal_component_40">
        <option value="carbohydrates">Carbohydrates</option>
        <option value="protein">Protein</option>
        <option value="vegetables">Vegetables</option>
        <option value="fruits">Fruits</option>
    </select>

    <select name="meal_component_10">
        <option value="carbohydrates">Carbohydrates</option>
        <option value="protein">Protein</option>
        <option value="vegetables">Vegetables</option>
        <option value="fruits">Fruits</option>
    </select>

    <select name="meal_component_30">
        <option value="carbohydrates">Carbohydrates</option>
        <option value="protein">Protein</option>
        <option value="vegetables">Vegetables</option>
        <option value="fruits">Fruits</option>
    </select>

    <select name="meal_component_20">
        <option value="carbohydrates">Carbohydrates</option>
        <option value="protein">Protein</option>
        <option value="vegetables">Vegetables</option>
        <option value="fruits">Fruits</option>
    </select>

    Drink component:
    <select name="meal_component_drink">
        <option value="water">Water</option>
        <option value="juice">Juice</option>
        <option value="dairy">Dairy</option>
        <option value="soda">Soda</option>
    </select>

    Drink component:
    <select name="meal_component_drink">
        <option value="water">Water</option>
        <option value="juice">Juice</option>
        <option value="dairy">Dairy</option>
        <option value="soda">Soda</option>
    </select>

</form>

{% endblock %}